@import url('https://fonts.googleapis.com/css?family=Shadows+Into+Light');
<style>
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
</style>

* {
	box-sizing: border-box;
	
}

a {
	text-decoration: none;
	font-weight: bold;
	color: #1E392A;
}

a:hover {
	color: #3CC47C; 
}


.pic {
	background-color: #E9C893;
	padding-bottom: 5px;
}

.anchor-green {
	display: block;
	height: 70px;
	background-color: #3CC47C;
}

.content-green {
	width: 100%;
	background-color: #3CC47C;
	padding-bottom: 40px;
}

.anchor-peach {
	display: block;
	height: 70px;
	background-color: #E9C893;
}

.content-peach {
	width: 100%;
	background-color: #E9C893;
	padding-bottom: 40px;
}

html {
	font-family: "Lucida Sans", sans-serif;
}

body {
	display: block;
	text-align: center;
	margin: 0;
}

hr {
	width: 50%;
	height: 3px;
}

header {
	position: fixed;
	background: #828081;
	width: 100%;
	height: 80px;
	border-bottom: 2px solid #1E392A;
	z-index: 100;
	margin-right: 8px;
}

header ul{
	list-style: none;
}

header li {
	display: inline-block;
	float: left;
	padding: 10px;
}

nav {
	float: right;
	padding: 20px;
}

.circular--landscape {
	display: none;
	position: absolute;
	left: 25px;
	top: 0px;
	width: 75px;
	height: 75px;
	overflow: hidden;
	border-radius: 50%;
	border: 3px solid #3CC47C;
	margin-left: auto;
	margin-right: auto;
}

.circular--landscape img {
	width: auto;
	height: 100%;
	margin-left: -10px;
}

h1, h2 {
	text-align: center;
	font-family: 'Shadows Into Light', cursive;
	font-weight: bold;
	margin: 0;
}

h3, h4, h5, h6 {
	text-align: center;
	font-weight: bold;
	margin: 0;
	padding-left: 5px;
	padding-right: 5px;
}

h1 {
	font-size: 60px;
	font-style: oblique; 
	color: #1E392A;
	margin: 0;
}

h2 {
	font-size: 50px;
}

h3 {
	font-size: 40px;
	text-decoration: underline;
}

h4 {
	font-size: 30px;
}

p {
	margin: 0;
	text-align: center;
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	padding-left: 5px;
	padding-right: 5px;
}

.fa {
	color: white;
	padding-right: 40px;
	padding-left: 40px;
}

.fa:hover{
	color: #3CC47C;
}

.footer {
	background-color: #828081;
	color: white;
	font-size: 14px;
	padding: 3px;
}



.footer p{
	text-align: center;
}

/* For mobile*/
[class*="col-"] {
	width: 100%;
}

#menu-icon {
	display: none;
	width: 40px;
	height: 40px;
	background: #3CC47C center;
	position: absolute;
	bottom: 5px;
	right: 5px;
}

.headlinePic {
	width: 70%;
	min-width: 300px;
	max-width: 1000px;
	max-height: 300px;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	
	border-radius: 25px;
	border: 1px solid #1E392A;
	
}

.headlinePic img{
	width: 1000px;
	height: auto;
	margin-top: -200px;
	float: right;
}



a:hover#menu-icon {
	background-color: #1E392A;
	border-radius: 4px 4px 0 0;
}

@media only screen and (max-width: 600px) {
    /* For tablets: */
    header {
		position: fixed;
	}
	
	#menu-icon {
		display:inline-block;
	}
	
	nav ul, nav:active ul {
		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;
	}
	
	nav li {
		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;
	}

	nav:hover ul {
		display: block;
	}
	
	.fa {
		padding-right: 20px;
		padding-left: 20px;
	}
}

/* 
Anchor information:
https://pixelflips.com/blog/anchor-links-with-a-fixed-header

Color schemes:
https://designschool.canva.com/blog/website-color-schemes/

Responsive menu reference:
http://treehouse-blog.s3.amazonaws.com/Respond-Menu/index.html#

Green: 3CC47C
Forest: 1E392A
Tan: E9C893
Grey: 828081

*/